/* Mobile Portrait View */
@media screen and (max-width:767px) {
*{box-sizing:border-box;}
.left, .right, .copyright-txt, .design-by{ float:none; text-align:center;}
.container { width:auto; padding:0 20px;}
.site-header{ position:relative; background-color:#111 !important; }
.logo{ width:auto; float:none; text-align:center; margin-bottom:10px; position:relative;}
.logo::after, .logo::before{ position:relative;}
.psright_wrap{ float:none;}
.header-contactpart .phoneno{ display:block;}
#ps_3col_wrapper{ margin:0;}
/*coloumn css*/
.thumbnail_box{ width:100%; float:none; margin:0 0 10px;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}
.content-area{ width:auto; margin:0; padding:50px 20px;}
.page_content_layout{ width:auto; float:none;}

/*slider css*/
#slider{ top:0; margin:0;}
.nivo-caption{ width:70%; top:18%;}
.nivo-caption h2{ font-size:18px !important; line-height:22px !important; margin:0 0 10px !important;}
.nivo-caption p{ line-height:16px; font-size:14px;}
.nivo-directionNav a{ top:30% !important;}
.nivo-controlNav{ display:none !important;}
a.nivo-prevNav{ left:1%;}
a.nivo-nextNav{right:1%;}
.nivo-caption .slide_more{ display:none;}
.ps_welcome_imgbx, .ps_welcontent_bx{ float:none; width:auto; margin:0 0 25px 0;}


/*front blog post*/

.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
#sitelayout_type{ width:100%;}
.ps_3colbx{ width:auto; float:none; margin:0 0 35px;}
.ps_3colbx.last_column{ margin-bottom:30px;}
.ftr-col-1, .ftr-col-2, .ftr-col-3, .ftr-col-4{ float:none; width:100%; margin:0 0 25px; padding:0; text-align:left;}
.sitefooter ul li{ margin:0;}
.sitefooter ul li a{ padding:5px;}
.ps_welcontent_bx h3{ font-size:30px;}
.sitefooter h2{ font-size:20px;}
#ps_welcome_section{ padding-bottom:30px;}
.postlist_style .thumbnail_box{ width:auto; height:auto; overflow:hidden; float:none; margin:0 0 25px 0;}
.postlist_style .thumbnail_box img{ height:auto; min-height: inherit;}
}

/* Mobile Landscape View */
@media screen and (min-width: 481px) and (max-width: 767px){
*{box-sizing:border-box;}
.container, .content-area{ width:440px; margin:0 auto;}
.nivo-controlNav{ display:none !important;}
.thumbnail_box{ width:50%; float:left; margin:5px 20px 10px 0;}
}
/* Mobile Landscape View */
@media screen and (min-width: 300px) and (max-width: 481px){
*{box-sizing:border-box;}
.social-icons{ display:block; padding:0;}
.social-icons a{ padding:0; padding:0 10px; display:inline-table; line-height:40px;}
}

@media screen and (min-width:768px) and (max-width: 980px){
.site-header { width:100%; position:relative !important;}
.ps_3colbx h3{ font-size:16px;}
.site-header{ position:relative; background-color:rgba(0, 0, 0, 0.9);}
#ps_welcome_section{ padding:40px 0 10px;}
.ps_welcontent_bx h3{ font-size:34px;}
.nivo-directionNav a{ top:40%;}
.ps_welcontent_bx{ padding-bottom:25px;}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
*{box-sizing:border-box;}
.container { width:auto; padding:0 20px;}

/*slider css*/
.nivo-caption{ width:50%;;}
.nivo-caption h2{ font-size:42px; line-height:45px;}
.content-area{ width:auto; margin:0; padding:50px 20px;}
#sidebar{ width:30%;}
.page_content_layout{ width:65%;}
#sitelayout_type{ width:100%;}
.ps_welcontent_bx{ padding-bottom:25px;}
}

@media screen and (max-width: 980px){
.toggleMenu{display: block;}
.mainmenu{float:none; margin:0; position:relative; overflow-x:hidden; background-color:#fff; border-radius:0; top:0; border-bottom:none; }
.mainmenu ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.mainmenu ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left; border-bottom:none !important}
.mainmenu ul li a{padding:5px 10px !important; display:block; color:#000; border:none; text-align:left;}
.mainmenu ul li a:hover, .mainmenu ul li.current_page_item a{color:#efc62c;  border:none !important; border-radius:0;}
.mainmenu ul li ul, .mainmenu ul li ul ul{ display:block !important; background: transparent !important;}
.mainmenu ul li ul li a:before{content:"\00BB \00a0";}
.mainmenu ul li ul li a{padding-left:20px !important; }
.mainmenu ul li ul li a, .mainmenu ul li.current-menu-ancestor a.parent{ border:none; border-radius:0;}
.mainmenu ul li ul li ul li a{padding-left:30px !important;}
.mainmenu ul li ul li ul li ul li a{padding-left:40px !important;}
.mainmenu ul li:hover > ul{ background:none !important; box-shadow:none;}
.mainmenu ul li:hover > ul{ background: transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0; padding:0;}
.mainmenu ul li:hover ul li ul, .mainmenu ul li:hover ul li:hover > ul, .mainmenu ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.mainmenu ul li:hover ul li:hover ul, .mainmenu ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
.mainmenu ul li ul li a{ color:#000;}
.site-header{ position:relative; background-color:#111 !important; }
.logo{ width:auto; float:none; text-align:center; margin-bottom:10px; position:relative;}
.logo::after, .logo::before{ position:relative;}
.psright_wrap{ float:none;}
}